<script src="javascripts/ChatViewModel.js" type="text/javascript" ></script>


<div class="row">
	<div class="col-md-4">

		<h4>Welcome to the chatroom</h4>

		<p>current user<p>
		<select data-bind="options: users,
		                       optionsText: 'username',
		                       value: currentUser,
		                       optionsCaption: 'select user...'"></select> 

		<p>current room</p>
		<select data-bind="options: rooms,
		                       optionsText: 'name',
		                       value: currentRoom,
		                       optionsCaption: 'select room...'"></select>
	</div>

	<div class="col-md-8">
		<!-- ko if: currentUser() && currentRoom() -->
	      <h5>Welcome <label data-bind="text: currentUser().username" ></label> to <label data-bind="text: currentRoom().name"></label></h5>

	      <div class="row">
	      	<div class="col-md-8">

	      		<input type="text" data-bind="value: newLineText,  valueUpdate: 'afterkeydown', enterkey: sendMessage" />
	      	 	<button data-bind="click: sendMessage">Send</button>

	      		<ul class="chatHistory" data-bind="foreach: lines">
	      			<li><span data-bind="text: username"></span>: <label data-bind="text: text"></label></li>
	      		</ul>

	      	 	<button data-bind="click: refreshLines">Refresh</button>

	      	</div>
	      </div>
	     
	   
	 	<!-- /ko -->
	</div>

</div>


<script>
		ko.applyBindings(new ChatViewModel());
</script>